@import url('ht  tps://fonts.googleapis.com/css?family=Oswald&display=swap');

@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

body {
	margin: 0px; /* Override any browser imposed defaults */
	padding: 0px; /* Override any browser imposed defaults */
	background-color: white;
  font-family: 'Indie Flower', cursive;
}

h1 {
color:#CB6A1E;
text-align: center;
background-color: #0009BD;
}

p {
font-size: 25px;
background-color: #82FCEC;
padding: 65px;
text-align: center;
}

#Para1 {

}

#Para2 {

}

#Para3 {

}

#Para4 {

}

#Para5 {

}
